[Unit]
Description=atomicDEX-API
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
User=explorer
Group=explorer
Type=simple

# Logs path
StandardOutput=append:/home/explorer/logs/atomicdex-api.log
StandardError=append:/home/explorer/logs/atomicdex-api.log

Environment=MM_CONF_PATH=/home/explorer/dragonhound_bots/discord/faucet/atomicdex/MM2.json
Environment=MM_COINS_PATH=/home/explorer/dragonhound_bots/discord/faucet/atomicdex/coins
ExecStart=/home/explorer/dragonhound_bots/discord/faucet/atomicdex/mm2
WorkingDirectory=/home/explorer/dragonhound_bots/discord/faucet/

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target


