[Unit]
Description=atomicDEX-API
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
User=USERNAME
Group=USERNAME
Type=simple

# Logs path
StandardOutput=append:/home/USERNAME/logs/atomicdex-api.log
StandardError=append:/home/USERNAME/logs/atomicdex-api.log

Environment=MM_CONF_PATH=SCRIPT_PATH/atomicdex/MM2.json
Environment=MM_COINS_PATH=SCRIPT_PATH/atomicdex/coins
ExecStart=SCRIPT_PATH/atomicdex/mm2
WorkingDirectory=SCRIPT_PATH/

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target


